<main class="login">

<%= erb :flash %>

<section>
  <h1>Photo Vistas Log in</h1>

  <form action="/login" method="post">
    <label>Username: <input type="text" name="username"></label>
    <label>Password: <input type="password" name="password"></label>
    <input type="submit" value="Log in">
  </form>
</section>
</main>

