<main class="signup">

<%= erb :flash %>

<section>
  <h1>Create an Account</h1>

  <form action="/signup" method="post">
    <label>Username: 
      <input type="text" id="username" name="credentials[username]">
    </label>

    <label>Email: 
      <input type="text" id="email" name="credentials[email]">
    </label>

    <label>Password: 
      <input type="password" id="password" name="credentials[password]">
    </label>

    <label>Password Confirmation: 
      <input type="password" id="confirm" name="credentials[password_confirmation]">
    </label>

    <label>
      <input type="checkbox" id="unsplash" name="unsplash" value="unsplash">
      Link Your Unsplash Account After Sign Up <em>(This will redirect you to
        the Unsplash authorization page when you click "Sign Up"</em>
    </label>
    <input name="signup" type="submit" value="Sign Up">
  </form>
</section>
</main>
