<h2>Step 2: Add an Unsplash Username</h2>
<form action="/signup/unsplash" method="post">
  <label>Unsplash Username <input type="text" name="unsplash_username"></label>
  <input type="submit" name="add_username" value="Add username">
  <input type="submit" name="skip" value="Skip">
</form>

