<div class="background" style="background-image: url(<%= @photo.full_url %>)">
</div>

<div class="bookmark">
  <div class="search">
    <form action="https://google.com/search" method="get">
      <label>Google Search</label>
      <input id="search-box" type="text" name="q" autofocus autocomplete="off">
      <input id="search" type="submit" name="Search">
    </form>
  </div>
  <div class="attribution">
    <h1>
      <a href="<%= @photo.link %>">Photo</a> by 
      <a href="<%= @photo.photographer_link %>">
        <%= @photo.photographer_name %>
      </a> / 
      <a href="https://unsplash.com">Unsplash</a>
    </h1>
  </div>
</div>

