<h2>Create an Account</h2>

<% if flash[:form_errors] %>
  <ul>
    <% flash[:form_errors].each do |error| %>
      <li>Error: <%= error %></li>
    <% end %>
  </ul>
<% end %>

<form action="/users" method="post">
  <label>Username: <input type="text" name="username"></label>
  <label>Email: <input type="text" name="email"></label>
  <label>Password: <input type="password" name="password"></label>
  <input type="submit" value="Sign up">
</form>

