<h2>Account Settings</h2>
<p>Welcome, <%= @user.username %>!</p>

<p>
<% if @unsplash_user %>
  Unsplash Username: <%= @unsplash_user[:username] %>
<a href="/unsplash/deauth">Remove Unsplash Account</a>
<% else %>
  <a href="/unsplash/auth">Add an Unsplash Username</a>
<% end %>
</p>

<% if @photos != [] %>
  <% @photos.each do |photo| %>
    <img src="<%= photo%>">
  <% end %>
<% end %>

