---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/me
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Accept-Version:
      - v1
      Authorization:
      - Bearer be4360fd562932237ebb473aa54a5e0d53cab3db06eb1bb18006482f905c7fb6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: UTF-8
      string: '{"uid":"d_P_5sAXSQw","id":"d_P_5sAXSQw","username":"snsavage","name":"Scott
        Savage","first_name":"Scott","last_name":"Savage","portfolio_url":null,"bio":null,"location":null,"total_likes":35,"total_photos":0,"total_collections":1,"followed_by_user":false,"following_count":1,"followers_count":0,"downloads":0,"profile_image":{"small":"https://images.unsplash.com/placeholder-avatars/extra-large.jpg?ixlib=rb-0.3.5\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=32\u0026w=32\u0026s=0ad68f44c4725d5a3fda019bab9d3edc","medium":"https://images.unsplash.com/placeholder-avatars/extra-large.jpg?ixlib=rb-0.3.5\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=64\u0026w=64\u0026s=356bd4b76a3d4eb97d63f45b818dd358","large":"https://images.unsplash.com/placeholder-avatars/extra-large.jpg?ixlib=rb-0.3.5\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=128\u0026w=128\u0026s=ee8bbf5fb8d6e43aaaa238feae2fe90d"},"photos":[],"badge":null,"links":{"self":"https://api.unsplash.com/users/snsavage","html":"http://unsplash.com/@snsavage","photos":"https://api.unsplash.com/users/snsavage/photos","likes":"https://api.unsplash.com/users/snsavage/likes","portfolio":"https://api.unsplash.com/users/snsavage/portfolio","following":"https://api.unsplash.com/users/snsavage/following","followers":"https://api.unsplash.com/users/snsavage/followers"}}'
  recorded_at: Sun, 04 Dec 2016 23:17:48 GMT
recorded_with: VCR 3.0.3
