@import "normalize.css";
@import "bourbon/bourbon";
@import "neat/neat";
@import "base/base";

@import "nav";
@import "type";
@import "card";
@import "hero";
@import "footer";
@import "grid";
@import "index";

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

html, body {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

.container {
  min-height: 100%;
  position: relative;
}

main {
  @include outer-container;
  padding: 1em 1em 7em;
}

.login, .signup, .edit-user {
  section {
    @include span-columns(6);
    @include shift(3);
    margin-top: 2em;

    h1 {
       font-size: 2em;
    }
  }
}

.edit-user {
  section {
    form {
      margin-top: 1em;
    }
  }
}

@media only screen and (max-width: 825px) {
  main {
    padding-bottom: 12em;
  }
}

.settings {
  section {
    border-bottom: 1px solid hsl(0, 0%, 20%);
    padding-bottom: 1em;
  }

  section:last-child {
    border-bottom: none;
  }

  .photo-collection-buttons div {
    display: inline;
  }

  .heading {
    div, div h1, div p {
      display: inline;
    }

    div p {
      margin-left: 1em;
    }
  }

  .inline-buttons{
    text-align: right;

    h3, a, form {
      display: inline;
      padding-left: 1em;
    }
  }

  section.account-settings {
    .photo-vistas-settings {
      @include span-columns(6);
    }

    .unsplash-settings {
      @include span-columns(6);
    }

    .edit-settings-button {
      margin-top: 0.5em;
    }
  }

  section {
    // margin-top: 2em;

    h1 {
       font-size: 2em;
    }
    
    h2 {
      font-size: 1.5em;
    }
  }
}

