@import "normalize.css";
@import "bourbon/bourbon";
@import "base/base";
@import "neat/neat";

@import "nav";
@import "type";
@import "card";
@import "hero";
@import "footer";
@import "grid";
@import "index";
@import "flash";

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

html, body {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

.container {
  min-height: 100%;
  position: relative;
}

main {
  @include outer-container;
  padding: 1em 1em 7em;
}

section.flash {
  @include span-columns(6);
  @include shift(3);
}

.login, .signup, .edit-user, .contact, .help {
  section {
    @include span-columns(6);
    @include shift(3);
    margin-top: 2em;

    h1 {
       font-size: 2em;
    }
  }
}

.contact {
  .hidden {
    display: none;
  }
}

.edit-user {
  section {
    form {
      margin-top: 1em;
    }
  }
}

@media only screen and (max-width: 825px) {
  main {
    padding-bottom: 12em;
  }
}

.settings {
  section {
    border-bottom: 1px solid hsl(0, 0%, 20%);
    padding-bottom: 1em;
  }

  section.flash {
    border: none;
  }

  section:last-child {
    border-bottom: none;
  }

  .photo-collection-buttons div {
    display: inline;
  }

  .heading {
    div, div h1, div p {
      display: inline;
    }

    div p {
      margin-left: 1em;
    }
  }

  .inline-buttons{
    text-align: right;

    h3, a, form {
      display: inline;
      padding-left: 1em;
    }
  }

  section.account-settings {
    .photo-vistas-settings {
      @include span-columns(6);
    }

    .unsplash-settings {
      @include span-columns(6);
    }

    .edit-settings-button {
      margin-top: 0.5em;
    }
  }

  section {
    h1 {
       font-size: 2em;
    }

    h2 {
      font-size: 1.5em;
    }
  }
}

.edit-queue {
  section {
    border-bottom: 1px solid hsl(0, 0%, 20%);
    padding-bottom: 1em;
  }

  section:last-child {
    border-bottom: none;
  }

  h1 {
    font-size: 2em;
  }

  .queue-edit-button {
    text-align: right;
    padding-right: 3em;
    margin-bottom: 1em;
  }

  .queue-delete-button {
    padding-left: 1em;

    input, p {
      display: inline;
    }

    p {
      padding-left: 1em;
    }
  }

  #delete-queue {
    background-color: rgb(212, 0, 0);
  }
}

sup {
  font-weight: normal;
  margin-left: 0.25em;
  font-size: 50%;
}

.help {
  ul {
    margin-bottom: 1em;
    list-style: disc inside none;
  }
}
