header, footer {
  background-color: unset;
}

footer {
  border: none;
  display: none;
}

header {
  nav {
    opacity: 0;
    transition: opacity 0.75s ease;
  }

  &:hover > nav {
    opacity: 1;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0));
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
  }

  nav {
    max-width: 100%;
  }
}

div.background {
  background-color: #333;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background-repeat: no-repeat;
  background-position: center, center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

div.bookmark {
  .search {
    width: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
    height: 3em;
  }

  form {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position:absolute;
    bottom:0;
    right:0;
    width: 100%;
    padding-right: 1em;
    padding-bottom: 0.50em;
    font-weight: 700;

    label {
      color: white;
      margin: unset;
      font-size: 1em;
      text-decoration: none;
      margin-left: 1em;
    }

    input {
      color: white;
      background: none;
      border: 1px solid white;
      width: unset;
      margin-bottom: unset;
      font-size: 1em;
      margin-left: 1em;
      line-height: 1.5em;
      padding: 0.25em;

      &:focus, &:hover {
        border-color: white;
        box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 
        0 0 5px rgba(221, 221, 221, 1);
      }
    }

    #search-box {
      width: 25%;
    }


    #search {
      &:focus, &:hover {
        background-color: unset;
      }
    }
  }

  div.attribution {
    z-index: 10000;
    position: fixed;
    left: 1em;
    bottom: 0;
    color: white;
    font-weight: normal;

    a {
      color: white;

      &:hover {
        color: rgb(221, 221, 221);
      }
    }
  }
}

.search {
  form {
    opacity: 0;
    transition: opacity 0.75s ease;
  }

  &:hover > form, &:active > form, &:focus > form, #search-box:focus {
    opacity: 1;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0));
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
  }
}

