$nav-height: 3em;
$nav-title-size: 1.5em;
$nav-links-size: 1em;
$nav-title-line-height: $nav-height / $nav-title-size;
$nav-links-line-height: $nav-height / $nav-links-size;
$nav-bar-background-color: hsl(0, 0%, 20%);
$nav-bar-color: white;
$nav-hover-background: hsl(198, 100%, 37%);
$nav-focus-background: $nav-hover-background;
$nav-text-color: rgb(221, 221, 221);

header {
  height: $nav-height;
  color: $nav-bar-color;
  background-color: $nav-bar-background-color;
  z-index: 999;

  nav {
    @include outer-container;
    height: $nav-height;

    h1 {
      font-size: $nav-title-size;
      line-height: $nav-title-line-height;
      margin: 0;
      padding: 0;
      padding-left: 1em;
      display: inline-block;
      color: $nav-bar-color;

      a {
        text-decoration: none;

        &:link, &:visited {
          color: $nav-bar-color;
        }

        &:hover, &:focus {
          color: $nav-text-color;
        }
      }
    }

    ul {
      float: right;
      margin: 0;
      padding: 0;
      list-style-type: none;

      li {
        font-size: $nav-links-size;
        line-height: $nav-links-line-height;
        display: inline-block;
        list-style-type: none;

        a {
          padding: 0 1em;
          display: block;
          text-align: center;
          text-decoration: none;
          color: $nav-bar-color;

          &:link, &:visited {
            color: $nav-bar-color;
          }

          &:hover, &:focus {
            color: $nav-text-color;
          }
        }
      }
    }

    .hidden-nav-trigger {
      float: right;
      padding: 0 1em;

      i {
        font-style: normal;
        font-size: 0.75em;
      }

      a {
        color: $nav-bar-color;
      }

      &:link, &:visited {
        color: $nav-bar-color;
      }

      &:hover, &:focus {
        background-color: $nav-bar-background-color;
      }
    }
  }

}

@media only screen and (min-width: 601px) {
  .hidden-nav-trigger {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  header {
    height: 100%;

    .hidden-nav-menu {
      &:hover > .nav-menu, &:active > .nav-menu, &:focus + .nav-menu {
        display: block;
      }
    }

    nav {
      height: 100%;

      .nav-menu {
        clear: both;
        width: 25%;
        display: none;
        background-color: $nav-bar-background-color;
        position: absolute;
        right: 0;

        li {
          float: none;
          width: 100%;

          &:hover, &:active, &:focus {
            background-color: $nav-text-color;

            a {
              color: $nav-bar-background-color;
            }
          }
        }
      }
    }
  }
}

