<h2>Edit Your Queue</h2>

<% if @queue %>
  <form action="/queue/<%= current_user.username %>" method="post">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <% @queue.each do |queue| %>
      <img src="<%= queue.photo.thumb_url %>">
      <label>Delete
        <input type="checkbox" 
               id="queue<%= queue.id %>" 
               name="queue[]" 
               value="<%= queue.id %>">
        <label>
        <% end %>
        <input name="update" type="submit" value="Update Queue">
  </form>
<% end %>

