<% if flash.keys.any? %>
  <section class="flash">
    <% flash.keys.each do |key| %>
      <% flash[key].each do |message| %>
        <div class="flash flash-<%= key.to_s %>">
          <span><%= message %></span>
        </div>
      <% end %>
  <% end %>
  </section>
<% end %>

