<footer>
  <div class="footer-content">
    <div class="footer-nav">
      <ul>
        <li><a href="/">Home</a></li>
        <% if logged_in? %>
          <li class="nav-link">
            <a href="/settings/<%= current_user.username %>">
              Settings
            </a>
          </li>
          <li class="nav-link"><a href="/logout">Log out</a></li>
        <% else %>
          <li class="nav-link"><a href="/login">Log in</a></li>
          <li class="nav-link"><a href="/signup">Sign up</a></li>
        <% end %>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </div>
    <div class="center-footer">
      <p>Made in PA, U.S.A.</p>
    </div>
    <div class="copyright-footer">
      <p class="copyright">&#169; 
      <em>2016 
        <a href="https://www.snsavage.com" target="_blank">
          Scott Savage
        </a>
      </em>
      </p>
    </div>
  </div>
</footer>
