<main class="help">

<%= erb :flash %>

<section>
  <h1>Photo Vistas Help</h1>
  <h2>Instructions for Changing Your Homepage</h2>
  <ul>
    <li><a href="https://support.microsoft.com/en-us/help/17426/windows-internet-explorer-11-change-home-page" target="_blank">Internet Explorer 11</a></li>
    <li><a href="https://support.microsoft.com/en-us/instantanswers/46fafbed-7ba4-42fb-908a-75664d83c704/change-your-home-page" target="_blank">Microsoft Edge</a></li>
    <li><a href="https://support.mozilla.org/en-US/kb/how-to-set-the-home-page" target="_blank">Mozilla Firefox</a></li>
    <li><a href="https://support.google.com/chrome/answer/95314?hl=en" target="_blank">Google Chrome</a></li>
    <li><a href="https://support.apple.com/kb/PH21487?viewlocale=en_US&locale=en_US" target="_blank">Apple Safari for Mac</a></li>
    <li><a href="http://help.opera.com/Mac/12.10/en/homepage.html" target="_blank">Opera</a></li>
  </ul>
  <p>If you have any other questions please <a href="/contact">Contact Us</a>.</p>
</section>
</main>

