<div class="hero">
  <div class="hero-content">
    <h1>Photo Vistas</h1>
    <p>Your Favorite Unsplash Photos in New Web Browser Tabs without a Plugin</p>
  </div>
</div>

<main class="main">

<%= erb :flash %>

  <section class="description">
    <h1>Photo Vistas</h1>

    <p>Photo Vistas uses Unsplash's catalog of beautiful photos to show you
    photos every time you open your web browser or new browser tab.  Photos are
    refreshed everyday from your custom Photo Vistas queue.
  </section>

  <section class="getting-started">
    <h1>Getting Started</h1>

    <div class="grid-items">
      <a href="https://unsplash.com" target="_blank" class="grid-item">
        <h1>Step 1:</h1>

        <p>Head over to Unsplash and create an account.  Find your favorite photos
        and like them or add them to a collection.</p>
      </a>

      <div class="grid-item grid-item-big unsplash-background">
      </div>

      <a href="" class="grid-item grid-item-big photo-vistas-background">
      </a>

      <a href="/signup" class="grid-item">
        <h1>Step 2:</h1>

        <p>Sign up for Photo Vistas and link with your Unsplash account.
        Add your photos to your Photo Vistas' queue.  These are the photos that
        you will see each day.</p>
      </a>

      <a href="/help" class="grid-item">
        <h1>Step 3:</h1>

        <p>Set your custom Photo Vistas' web address to your homepage.</p>
      </a>

      <a href="" class="grid-item grid-item-big grid-item-image">
      </a>
    </div>
  </section>

  <section class="enjoy">
    <h1>Step 4: Enjoy new beautiful photos everyday!</h1>
  </section>

  <section class="alternative">
    <p>If you don't want to create an Unsplash account, but your would like to
    use Photo Vistas, just create a Photo Vistas account and we will provide a
    default queue for you to enjoy.  You may link an Unsplash account at any
    time if you would like to customize your experience.</p>
  </section>

</main>
