<div class="hero">
  <div class="hero-content">
    <h1>Photo Vistas</h1>
    <p>Your Favorite Unsplash Photos in New Web Browser Tabs without a Plugin</p>
  </div>
</div>

<div>

  <p>Unsplash provides the web's most beautiful free high-resolution photos.
  With Photo Vistas you can view your favorite Unsplash photos every time you
  open your web browser or new browser tab.</p>

  <h2>Photo Vistas provides:</h2>
  <ul>
    <li>Beautiful photos from Unsplash as your homepage.</li>
    <li>A new photo from your queue each day.</li>
  </ul>

  <h2>Set Up is Easy</h2>
  <h3>Step 1:</h3>

  <p>Head over to Unsplash and create an account.  Find your favorite photos and
  like them or add them to a collection.</p>

  <h3>Step 2:</h3>

  <p>Sign up for a Photo Vistas account and link with your Unsplash account.
  Add your photos to your Photo Vistas' queue.  These are the photos that you
  will see each day.</p>

  <h3>Step 3:</h3>
  <p>Set your custom Photo Vistas' web address to your homepage.<p>

  <h2>Enjoy new beautiful photos everyday!</h2>

  <p>If you don't want to create an Unsplash account, but your would like to use
  Photo Vistas, just create a Photo Vistas account and we will provide a default
  queue for you to enjoy.  You may link an Unsplash account at any time if you
  would like to customize your experience.</p>

</div>
