<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/assets/app.css">
    <script src="/assets/app.js"></script>
    <title>Photo Vistas</title>
  </head>
  <body>

    <div class="wrapper-for-content-outside-of-footer">
      <%= erb :nav %>

      <main>
      <% if flash[:notice] %>
        <div>
          <p><%= flash[:notice] %></p>
        </div>
      <% end %>

      <%= yield %>
      </main>
    </div>

    <%= erb :footer %>
  </body>
</html
