<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/assets/app.css">
    <% if clear ||= nil %>
      <link rel="stylesheet" href="/assets/clear.css">
    <% end %>
    <title>Photo Vistas</title>
  </head>
  <body>
    <div class="container">
      <%= erb :nav %>

      <%= yield %>

      <%= erb :footer %>
    </div>
  </body>
</html
