<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/assets/app.css">
    <%# <script src="/assets/app.js"></script> %>
    <title>Photo Vistas</title>
  </head>
  <body>
    <div class="container">
      <%= erb :nav %>

      <%= yield %>

      <%= erb :footer %>
    </div>
  </body>
</html
