<header>
  <nav class="clearfix hidden-nav-menu">
    <h1><a href="/">Photo Vistas</a><sup>Beta</sup></h1>
    <h1 class="hidden-nav-trigger">
      <a href="#">
        <i aria-hidden="true">Menu</i>
      </a>
    </h1>
    <ul class="nav-menu">
      <% if logged_in? %>
        <li class="nav-link">
          <a href="/settings/<%= current_user.username %>">
            Settings
          </a>
        </li>
        <li class="nav-link"><a href="/logout">Log out</a></li>
      <% else %>
        <li class="nav-link"><a href="/login">Log in</a></li>
        <li class="nav-link"><a href="/signup">Sign up</a></li>
      <% end %>
    </ul>
  </nav>
</header>
